{% extends 'base.html' %}
<title>{% block title %} change password {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-2 mt-2" >
    <div class="card p-3" style="width: 100%; max-width: 400px;">
        <h2 class="text-center">Change Password</h2>
        
        <form id="cngpass-form" action="" method="post" style="margin-bottom: 0;">
            {% csrf_token %}
            {{ form|crispy }}
            <button  class="btn btn-primary btn-block mt-2" type="submit">Update Password
                <span id="spinner" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true" style="display:none;"></span>

            </button>
        </form> 
    </div>
</div>
<script>
    document.getElementById('cngpass-form').addEventListener('submit', function() {
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('login-button').disabled = true;
    });
    </script>

{% endblock content %}
